{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "no-console": 0,
    "quotes": [
      "error",
      "backtick"
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "backtick": true,
        "printWidth": 120,
        "tabWidth": 4
      }
    ]
  }
}