body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.app {
    display: grid;
    grid-template-columns: 50% 50%;
}

nav {
    display: flex;
}

nav>* {
    flex: 1;
    border: 5px solid black;
    margin: 5px;
}

nav a {
    color: white;
    font-size: 4rem;
    flex: 2;
    border: 0;
}

textarea {
    font-size: "courier New", Courier, monospace;
}

.output {
    background: #e8f1f7;
    padding: 2rem;
    font-size: 3rem;
}